<a href="https://colab.research.google.com/github/ai7dnn/2024-1-BDA/blob/main/inclass/14w_self_study_lect_ch17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **빅데이터분석프로그래밍**
> 14주차 자기주도학습

# 파이썬 설치 확인

In [ ]:
import site
site.getsitepackages()

['/usr/local/lib/python3.10/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/lib/python3.10/dist-packages']

In [ ]:
import sys
import pandas as pd
import numpy as np
import seaborn as sns
import missingno as msno

print(sys.version)
print(pd.__version__)
print(np.__version__)
print(sns.__version__)
print(msno.__version__)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]
2.0.3
1.25.2
0.13.1
0.5.2

# 17 자료 구조 다루기

## 17-1 자료 구조란?

In [ ]:
import pandas as pd
df = pd.DataFrame([1, 2, 3])  # 데이터 프레임 만들기
df.mean()                     # mean() 사용

0    2.0
dtype: float64

In [ ]:
x = [1, 2, 3]   # list 만들기
x.mean()        # mean() 사용 불가

AttributeError: 'list' object has no attribute 'mean'

In [ ]:
sum(x) / len(x)  # sum()과 len()을 이용해 평균 구하기

2.0

In [ ]:
df_x = pd.DataFrame(x)  # 데이터 프레임으로 바꾸기
df_x

   0
0  1
1  2
2  3

In [ ]:
df_x.mean()  # mean() 사용

0    2.0
dtype: float64

## 17-2 스칼라

### 스칼라 만들기

##### int: 정수

In [ ]:
x = 1
x

1

In [ ]:
type(x)

int

##### float: 부동소수점

In [ ]:
x = 1.5
x

1.5

In [ ]:
type(x)

float

##### str: 문자열

In [ ]:
x = 'apple'
x

'apple'

In [ ]:
type(x)

str

### 타입 바꾸기

In [ ]:
# int 만들기
var1 = 1
var1

1

In [ ]:
type(var1)

int

In [ ]:
# int를 float로 바꾸기
var2 = float(var1)
var2

1.0

In [ ]:
type(var2)

float

In [ ]:
# float를 str로 바꾸기
var3 = str(var2)
var3

'1.0'

In [ ]:
type(var3)

str

## 17-3 리스트

### 만들기

In [ ]:
# 리스트 만들기
x = [1, 2, 'a', 'b']
x

[1, 2, 'a', 'b']

In [ ]:
type(x)

list

### 추출하기

In [ ]:
x[0]  # 0번째 값 추출

1

In [ ]:
x[1:3]  # 1~2번째 값 추출

[2, 'a']

### 수정하기

**추가하기**

In [ ]:
x.append(8)  # x에 8 추가
x

[1, 2, 'a', 'b', 8]

**삭제하기**

In [ ]:
x.remove(2)  # x에서 2 삭제
x

[1, 'a', 'b', 8]

**변경하기**

In [ ]:
x[0] = 9  # 0번째 값을 9로 변경
x

[9, 'a', 'b', 8]

### 활용하기

In [ ]:
# df.query()로 목록에 해당하는 행 추출하기
# exam.query('nclass in [1, 3, 5]')

# df.groupby()에 여러 변수 지정하기
# mpg.groupby(['manufacturer', 'drv']) \
#    .agg(mean_cty = ('cty', 'mean'))

## 17-4 튜플

### 만들기

In [ ]:
# 튜플 만들기
x = (1, 2, 'a', 'b')
x

(1, 2, 'a', 'b')

In [ ]:
type(x)

tuple

In [ ]:
# () 생략하고 튜플 만들기
x2 = 1, 2, 'a', 'b'
x2

(1, 2, 'a', 'b')

In [ ]:
type(x2)

tuple

### 추출하기

In [ ]:
# 0번째 값 추출
x[0]

1

In [ ]:
# 1~2번째 값 추출
x[1:3]

(2, 'a')

### 튜플은 수정할 수 없다

In [ ]:
x.append(8)  # 추가

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
x.remove(3)  # 삭제

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
x[0] = 9  # 변경

TypeError: 'tuple' object does not support item assignment

### 활용하기

In [ ]:
# df.agg()로 요약 통계량 구하기
# exam.agg(mean_math = ('math', 'mean'))

# sns.scatterplot.set()으로 축 범위 제한하기
# sns.scatterplot(data = mpg, x = 'displ', y = 'hwy').set(xlim = (3, 6))

## 17-5 딕셔너리

### 만들기

In [ ]:
# 딕셔너리 만들기
x = {'name' : 'kim'}
x

{'name': 'kim'}

In [ ]:
type(x)

dict

In [ ]:
x = {'id' : 1, 'name' : ['kim', 'park'], 'nclass' : (1, 2, 3)}
x

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3)}

### 추출하기

In [ ]:
# id 키의 값 추출
x['id']

1

In [ ]:
# name 키의 값 추출
x['name']

['kim', 'park']

In [ ]:
x[1]

KeyError: 1

In [ ]:
# name 키의 0번째 값 추출
x['name'][0]

'kim'

In [ ]:
# nclass 키의 1번째 값 추출
x['nclass'][1]

2

### 수정하기

**추가하기**

In [ ]:
# 'score': [5, 6, 7] 쌍 추가
x['score'] = [5, 6, 7]
x

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

**삭제하기**

In [ ]:
x

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [ ]:
# id 키:값 쌍 삭제
del(x['id'])
x

{'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [ ]:
# name 키의 1번째 요소 삭제
del(x['name'][1])
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

**값 변경하기**

In [ ]:
# score 키의 값 변경
x['score'] = [7, 8, 9]
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [7, 8, 9]}

In [ ]:
# score 키의 2번째 값 변경
x['score'][2] = 99
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [7, 8, 99]}

**키 변경하기**

In [ ]:
# (1) 기존 키를 새 키에 할당
x['math'] = x['score']
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [7, 8, 99], 'math': [7, 8, 99]}

In [ ]:
# (2) 기존 키 삭제
del(x['score'])
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'math': [7, 8, 99]}

### 활용하기

In [ ]:
# pd.DataFrame()으로 데이터 프레임 만들기
# df = pd.DataFrame({'id' : [1, 2, 3]})

# df.rename()으로 변수명 바꾸기
# mpg.rename(columns = {'cty' : 'city'})

## 17-6 시리즈

### 만들기

In [ ]:
# 시리즈 만들기
import pandas as pd
x_num = pd.Series([3, 4, 5])
x_num

0    3
1    4
2    5
dtype: int64

In [ ]:
type(x_num)

pandas.core.series.Series

In [ ]:
# 인덱스 정하기
x_label = pd.Series([3, 4, 5], index = ['kim', 'lee', 'park'])
x_label

kim     3
lee     4
park    5
dtype: int64

### 추출하기

In [ ]:
# 0번째 값 추출
x_num[0]

3

In [ ]:
# 1번째 값 추출
x_num[1]

4

In [ ]:
# 2번째 값 추출
x_label[2]

5

In [ ]:
# 인덱스 kim의 값 추출
x_label['kim']

3

In [ ]:
x_label.loc['kim']

3

In [ ]:
x_num.iloc[0]

3

### 수정하기

**추가하기**

In [ ]:
# 3번째 인덱스에 9 할당
x_num[3] = 9
x_num

0    3
1    4
2    5
3    9
dtype: int64

In [ ]:
# 인덱스 choi에 6 할당
x_label['choi'] = 6
x_label

kim     3
lee     4
park    5
choi    6
dtype: int64

**삭제하기**

In [ ]:
# 2번째 인덱스 삭제
del(x_num[2])
x_num

0    3
1    4
3    9
dtype: int64

In [ ]:
# 인덱스 park 삭제
del(x_label['park'])
x_label

kim     3
lee     4
choi    6
dtype: int64

**변경하기**

In [ ]:
# 3번째 인덱스의 값을 4로 변경
x_num[3] = 4
x_num

0    3
1    4
3    4
dtype: int64

In [ ]:
# 인덱스 kim의 값을 5로 변경
x_label['kim'] = 5
x_label

kim     5
lee     4
choi    6
dtype: int64

### 활용하기

**데이터 프레임에서 변수 추출해 활용하기**

In [ ]:
mpg = pd.read_csv('mpg.csv')
mpg['hwy']

0      29
1      29
2      31
3      30
4      26
       ..
229    28
230    29
231    26
232    26
233    26
Name: hwy, Length: 234, dtype: int64

In [ ]:
mpg['hwy'].mean()

23.44017094017094

**`pandas` 함수의 출력 결과 활용하기**

In [ ]:
n_category = mpg['category'].value_counts()
n_category

suv           62
compact       47
midsize       41
subcompact    35
pickup        33
minivan       11
2seater        5
Name: category, dtype: int64

In [ ]:
type(n_category)

pandas.core.series.Series

In [ ]:
# 인덱스 번호로 추출하기
n_category[0:2]

suv        62
compact    47
Name: category, dtype: int64

In [ ]:
# 인덱스 문자열로 추출하기
n_category[['suv', 'compact']]

suv        62
compact    47
Name: category, dtype: int64

## 17-7 데이터 프레임

### 만들기

In [ ]:
# 데이터 프레임 만들기
import pandas as pd
df = pd.DataFrame({'var1' : [1, 2, 3],
                   'var2' : [4, 5, 6]})
df

   var1  var2
0     1     4
1     2     5
2     3     6

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
# 인덱스 정하기
df = pd.DataFrame({'var1' : [1, 2, 3],
                   'var2' : [4, 5, 6]},
                   index = ['kim', 'lee', 'park'])
df

      var1  var2
kim      1     4
lee      2     5
park     3     6

In [ ]:
x = df['var1']
x

kim     1
lee     2
park    3
Name: var1, dtype: int64

In [ ]:
type(x)

pandas.core.series.Series

#### 어떤 자료 구조를 사용해야 할까?

In [ ]:
pd.DataFrame?

### 자료 구조 바꾸기

In [ ]:
x = [1, 1, 2, 3]
x.mean()

AttributeError: 'list' object has no attribute 'mean'

In [ ]:
x.value_counts()

AttributeError: 'list' object has no attribute 'value_counts'

In [ ]:
# 데이터 프레임으로 바꾸기
df_x = pd.DataFrame(x)
type(df_x)

pandas.core.frame.DataFrame

In [ ]:
df_x.mean()

var1    2.0
dtype: float64

In [ ]:
df_x.value_counts()

var1
1       1
2       1
3       1
Name: count, dtype: int64

------------------------------------------------------------------------

### (알아 두면 좋아요) 중첩 자료 구조

In [ ]:
x1 = [1, 2, [4, 5, 6], 3]
x1

[1, 2, [4, 5, 6], 3]

In [ ]:
x1[2]

[4, 5, 6]

In [ ]:
x1[2][0]

4

In [ ]:
nested_list   = [1, 2, (4, 5, 6), 3]
nested_tuple  = (1, 2, [4, 5, 6], 3)
nested_dict   = {'score': {'math': 1, 'english': 2}}
nested_series = pd.Series([1, 2, [4, 5, 6], 3])
nested_df     = pd.DataFrame({'x' : [1, 2, [4, 5, 6], 3]})

---

### 정리하기

In [ ]:
### 1. 스칼라

## 만들기
x = 1        # 정수
x = 1.5      # 부동소수
x = 'apple'  # 문자열

## 타입 확인하기
type(x)

## 타입 바꾸기
var2 = float(var1)  # float로 바꾸기
var3 = str(var2)    # str로 바꾸기


### 2. 리스트

## 만들기
x = [1, 2, 'a', 'b']

## 추출하기
x[0]
x[1:3]

## 수정하기
x.append(8)  # 추가하기
x.remove(2)  # 삭제하기
x[0] = 9     # 변경하기


### 3. 튜플

## 만들기
x = (1, 2, 'a', 'b')
x2 = 1, 2, 'a', 'b'

## 추출하기
x[0]
x[1:3]


### 4. 딕셔너리

## 만들기
x = {'name' : 'kim'}
x = {'id' : 1, 'name' : ['kim', 'park'], 'nclass' : (1, 2, 3)}

## 추출하기
x['id']
x[1]
x['name'][0]

## 수정하기

# 추가하기
x['score'] = [5, 6, 7]

# 삭제하기
del(x['id'])
del(x['name'][1])

# 값 변경하기
x['score'] = [7, 8, 9]
x['score'][2] = 99

# 키 변경하기
x['math'] = x['score']  # (1) 기존 키를 새 키에 할당
del(x['score'])         # (2) 기존 키 삭제


### 5. 시리즈

# 만들기
import pandas as pd
x_num = pd.Series([3, 4, 5])

## 추출하기
x_num[0]
x_label['kim']

## 수정하기

# 추가하기
x_num[3] = 9
x_label['choi'] = 6

# 삭제하기
del(x_num[2])
del(x_label['park'])

# 변경하기
x_num[3] = 4
x_label['kim'] = 5


### 6. 데이터 프레임

## 만들기
import pandas as pd
df = pd.DataFrame({'var1' : [1, 2, 3],
                   'var2' : [4, 5, 6]})